<!-- Investigators Section -->
<section id="about" class="content-section">
  <div class="container about-section">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center">Registration</h2>
        <div class="col-lg-8 col-lg-offset-2">

          <p>This workshop aims to bring together researchers with different backgrounds in computer science,
            machine learning, statistics and math who are interested in foundational machine learning research for impacting
            the designing of practical AI Systems.
          </p>
          <br>
          <p> <a href="https://docs.google.com/forms/d/e/1FAIpQLScHnRgoIsKujaInUmGeh0U8a4gxTtCf1hz8Uq4PnRU595qjKQ/viewform?usp=sharing">Registration Here</a></p>
<!--           Registration is required for all participants. -->
          <!-- Registration is now closed. -->
<!--           <p> To register for the workshop, please use the link below. 
            <p>The registration costs USD 45.</p>
            <p>The (late) registration costs USD .</p>
          </p>
          <h3 class="text-center"><a href="EVENTBRITE-WEBSITE">*(Late) Registration Form*</a> </h3>
          <p> The deadline to register is <b>??:??AM PT on ??????, 2023</b>.</p> -->
          <br><br>


<!--           <h2 class="text-center">Accommodation</h2>
          <p>Please make sure to book your travel very early.
            For accommodation, there is a set of rooms blocked at the
            <b><a href="img/ifds-silvercloud.pdf">Silver Cloud Hotel</a></b> near campus.
            Please make your booking before ??????.
          </p> -->
<!--           <br><br> -->

          <h2 class="text-center">Organizers</h2>
          <h5 class="text-center">Organizer:
            <a href="https://faculty.washington.edu/zaid/">Zaid Harchaoui (UW)</a>,
            <a href="https://www.ece.utexas.edu/people/faculty/atlas-wang">Atlas Wang (UW)</a>
          </h5>
          <h5 class="text-center">Local Organizers:
            <a href="https://jillianfisher.owlstown.net">Jillian Fisher (UW)</a>,
            <a href="https://ronakdm.github.io/">Ronak Mehta (UW)</a>,
            <a href="https://medhaaga.github.io/">Medha Agarwal (UW)</a>,
          </h5>
          <!-- <h5 class="text-center">Steering Committee:
            <a href="https://faculty.washington.edu/mfazel/">Maryam Fazel (UW)</a>,
            <a href="https://willett.psd.uchicago.edu/">Rebecca Willett (Chicago)</a>,
            <a href="http://pages.cs.wisc.edu/~swright/">Stephen Wright (Wisconsin)</a>
          </h5> -->
        </div>
      </div>
      <div class="text-center">
        <a href="#talks" class="btn btn-circle page-scroll">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
    </div>
</section>
