    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="brand-heading">IFML Workshop</h3>

                        <p> Hosted by the <a href="https://www.ifml.institute">Institute for Foundations of Machine Learning</a> <br> University of Washington</p>

                        <p> Jointly organized with University of Texas at Austin, Wichita State University, 
                            Microsoft Research
                        </a></p>

                        <p> </p>
                        <a href="#dates" class="btn btn-circle page-scroll">

                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
