    <!-- Investigators Section -->
    <section id="speakers" class="content-section">
      <div class="container investigators-section">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="text-center">Invited Speakers</h2>
            <table class="table table-large">
              <tbody>

<!-- EXAMPLE ROW BELOW: -->
<!-- <tr>
<td class="thumb"><img src="img/instructors/emo.png"></td>
<td><a href="https://homes.cs.washington.edu/~todorov/index.php">Emo Todorov</a><br />University of Washington<br /><i> </i></td>
<td class="thumb"><img src="img/instructors/pablo.jpg"></td>
<td><a href="http://www.mit.edu/~parrilo/">Pablo Parrilo</a> <br />Massachusetts Institute of Technology<br /><i> </i></td>
</tr> -->
   
                  
<tr>
<td class="thumb"><img src="img/speakers/yejin_choi.jpg"></td>
<td><a href="https://homes.cs.washington.edu/~yejin/">Yejin Choi</a><br />University of Washington, AI2<br /><i> </i></td>
<td class="thumb"><img src="img/speakers/alex-dimakis.jpg"></td>
<td><a href="https://users.ece.utexas.edu/~dimakis/">Alex Dimakis</a><br />University of Texas at Austin<br /><i> </i></td>
</tr>

<tr>
<td class="thumb"><img src="img/speakers/denny_zhou.jpeg"></td>
<td><a href="https://dennyzhou.github.io">Denny Zhou</a><br />Google Research<br /><i> </i></td>
<td class="thumb"><img src="img/speakers/ananya_kumar.jpg"></td>
<td><a href="https://ananyakumar.wordpress.com">Ananya Kumar</a> <br /> Stanford University <br /><i> </i></td>
</tr>
                  
<tr>
<td class="thumb"><img src="img/speakers/ludwig.jpg"></td>
<td><a href="https://people.csail.mit.edu/ludwigs/">Ludwig Schmidt</a> <br />University of Washington<br /><i> </i></td>
<td class="thumb"><img src="img/speakers/ming_lin.jpg"></td>
<td><a href="https://minglin-home.github.io">Ming Lin</a><br />Amazon Research<br /><i> </i></td>
</tr> 
                  
<tr>
<td class="thumb"><img src="img/speakers/sebastien_bubeck.jpeg"></td>
<td><a href="http://sbubeck.com">Sebastien Bubeck </a><br />Microsoft Research<br /><i> </i></td>
<td class="thumb"><img src="img/speakers/baharan_m.jpeg"></td>
<td><a href="http://web.cs.ucla.edu/~baharan/">Baharan Mirzasoleiman</a><br />University of Los Angelos<br /><i> </i></td>
</tr> 
                  
                  
<!-- <tr>
<td class="thumb"><img src="img/speakers/hongseok.png"></td>
<td><a href="https://hsnamkoong.github.io/">Sebastien Bubeck</a><br />MSR<br /><i> </i></td>
<td class="thumb"><img src="img/speakers/brian.jpg"></td>
<td><a href="https://www.cs.uic.edu/Ziebart">Brian Ziebart</a> <br />University of Illinois at Chicago<br /><i> </i></td>
</tr> -->
                  
<!-- <tr>
<td class="thumb"><img src="img/speakers/rtr.jpg"></td>
<td><a href="https://sites.math.washington.edu/~rtr/mypage.html">R. Tyrrell Rockafellar</a> <br />University of Washington<br /><i> </i></td>
</tr> -->
                  
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center">
          <a href="#schedule" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </section>
